{% extends template %}
{% load sparta static %}

{% block links %}
{% endblock %}

{% block header %}
  {% header "Terminal" %}
{% endblock %}

{% block page %}
<pa-terminal></pa-terminal>
<link rel="stylesheet" type="text/css" href='{% static "app/css/xterm.min.css"%}'>

<script>
  App.define('pa-terminal', class extends App.Component {
    connectedCallback() {
      //this.innerHTML = ``;
      this.style.height = '100%';
      this.style.width = '100%';
      this.style.display = 'block';
      this.style.background = 'black';
      this.div = document.createElement('div');
      this.div.style.height = '100%';
      this.div.style.width = '100%';
      this.appendChild(this.div);
      (async () => {
        await import('{% static "app/js/xterm.min.js"%}');
        await import('{% static "app/js/xterm-addon-fit.js"%}');
        var term = new Terminal();
        var fitAddon = new FitAddon.FitAddon();
        term.loadAddon(fitAddon);
        term.open(this.div);
        term.write('Sparta \x1B[1;3;31mterminal\x1B[0m $ ')
        window.addEventListener('resize', fitAddon.fit);
        setTimeout(() => {
          fitAddon.fit();
        }, 100);
      })();
    }
  });
</script>
{% endblock %}
